*{
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center ;
  justify-content: center;
  background: pink;
  background-size: cover;
  height: 100vh;
} 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}